<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.hjp.globaltester.prove.epareader.preferences.GlobalTesterPreferencePageEidClient"
            class="com.hjp.osgi.remotecontrol.soap.preferences.GlobalTesterPreferencePageSoap"
            id="com.hjp.osgi.remotecontrol.soap.preferences"
            name="SOAP Interface">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.hjp.osgi.remotecontrol.soap.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
